body{
    width: 0;
    height: 0;
    background: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
}

.caja_registro{
    width: 560px;
    height: 560px;
    background: #1f1e1e;
    top: -50%;
    transform: translate(-50% , -50%);
    flex-wrap: wrap;
}

.input-1{
    background: white;
}

.h1{
    color: #1f1e1e;
}